@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Open+Sans:wght@400;700&display=swap');
@import url("animations.css");
@import url("1439max-width.css");
@import url("754max-width.css");

/* font-family: 'Lobster Two', cursive;
font-family: 'Open Sans', sans-serif; */

/* --------- общие стили --------- */
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

h2 {
  font-size: 36px;
  font-family: 'Lobster Two', cursive;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: .3rem;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.white-text {
  color: #fff;
}

button, input[type="submit"] {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #E8C300;
  border: none;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
}

button:hover,
select:hover {
  cursor: pointer;
}

button:hover, input[type="submit"]:hover {
  background-color: #000000;
}


input, select, option, textarea{
  background-color: #E5E5E5; 
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 20px;
}

input:focus, select:focus, option:focus, textarea:focus {
  background-color: rgb(238, 238, 238);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

section {
  padding: 50px 0px;
}

.about-section .container,
.our-team-section .container,
.book-a-table-section .container,
.specialties-section .container,
.events-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin: 0px auto;
  justify-content: center,;
} 

.about-section p,
.our-team-section p,
.specialties-section p {
  display: inline-block;
  max-width: 600px;
  padding: 20px;
  margin: 0 20px;
}

.main-section {
  background: url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  padding-top: 0px;
}

.decor-hr {
  background-color: #E8C300;
  width: 60px;
  height: 5px;
  border-radius: 50px;
  margin: 0 auto;
}

i.sm-menu {
  display: none;
  font-size: 2.5rem;
}

.img-wrapper {
  position: relative;
  text-align: center;
  width: 575px;
  margin: 0 auto;
}


/* ---------- шапка сайта ---------- */
header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  grid-template-rows: 1fr;
}

header ul {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  list-style: none;
  height: 100px;
}

header ul a {
  text-decoration: none;
  color: #fff;
  transition: all .2s ease;
}

header ul a:hover {
  background-color: rgba(0,0,0, .8);
}

header ul:first-child {
  margin-right: 35px;
}

header ul:last-child {
  margin-left: 35px;  
}

header ul li {
  text-align: center;
  padding: 40px;
  width: 133px;
  height: 100%; 
}

header img {
  margin-top: 25px;
  justify-self: center;
}

/* --------- главный экран ---------- */
.main-section__content {
  margin-top: 100px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 850px 1fr;
  align-items: center;
}

.main-section__content .operating-mode {
  position: relative;
  top: -100px;
}

.main-section__content .operating-mode>span {
  max-width: 500px;
  position: absolute;
  left: -230px;
  transform: rotate(-90deg);
}

.main-section__content .heading {
  align-items: center;
  text-align: center;
  margin-top: 120px;
}

.main-section__content .heading span {
  font-weight: 700;
  letter-spacing: .7rem;
}

.main-section__content .heading h1 {
  font-family: 'Lobster Two', cursive;
  text-transform: uppercase;
  font-size: 96px;
  letter-spacing: .5rem;
  text-align: center;
}

.main-section__content button {
  margin-top: 36px;
  width: 200px;
}

.main-section__content .buttons .transparent {
  margin-left: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;

}

.main-section__content .buttons .transparent:hover {
  background-color: #000;
  border: 1px solid #000;
}

.main-section__content .link-down {
  position: relative;
  bottom: 0px;
  margin: 82px auto 0px;
  padding: 10px 9px;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all .3s ease;
}

.main-section__content .link-down--reverse {
  transform: rotate(180deg);
  position: fixed;
  right: 20px;
  bottom: 3vh;
  z-index: 1000;
  /* display: none; */
}

.main-section__content .link-down--reverse .link-down__body{
  background-color: #E8C300;
}

.main-section__content .link-down:hover {
  cursor: pointer;
  border-color: #E8C300;
}

.main-section__content .link-down__body {
  margin: 0 auto;
  width: 40px;
  line-height: 45px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}

.main-section__content .link-down__body img {
  width: 15px;
}

.main-section__content .social {
  display: flex;
  flex-direction: column;
  justify-self: end;
}

.main-section__content .social div {
  margin-top: 20px;
  transition: all .3s;
  transition-timing-function: ease-in-out;
}

.main-section__content .social div:hover {
  transform: scale(1.1);
}

/*---------------- about us ----------------- */



.about-section .img-wrapper::after {
  content: "";
  width: 250px;
  height: 250px;
  border-radius: 5px;
  border: 20px solid #E8C300;
  z-index: 1000;
  position: absolute;
  top: 160px;
  right: -90px;
}

/* ---------------- our-team ---------------- */
.our-team-section {
  background: url("../img/our-team.jpg") no-repeat ;
  background-size: cover; 
  background-attachment: fixed;

}

.our-team-section .img-wrapper::before {
  content: "";
  width: 250px;
  height: 250px;
  border-radius: 5px;
  border: 20px solid #E8C300;
  z-index: 1000;
  position: absolute;
  top: 160px;
  left: -90px;
}

/* ------------------- book a table ------------------ */
.book-a-table-section form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;  
}

input, select, option {
  background-color: #E5E5E5; 
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 20px;
}

select:hover {
  cursor: pointer;
}

.book-a-table-section form {
  margin: 40px;
}

.book-a-table-section form button {
  grid-column-start: 1;
  grid-column-end: 3;
}

.book-a-table-section .operating-mode {
  text-align: center;
  color: rgba(100, 100, 100, .5);
  font-size: .9rem;
}

.book-a-table-section .img-wrapper::after {
  content: "";
  width: 250px;
  height: 250px;
  border-radius: 5px;
  border: 20px solid #E8C300;
  z-index: 1000;
  position: absolute;
  top: 160px;
  right: -90px;
}

/* ----------- specialties ---------- */
.specialties-section {
  background: url("../img/events-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 50px;
}

.specialties-section .container .img-wrapper::before {
  content: "";
  width: 250px;
  height: 250px;
  border-radius: 5px;
  border: 20px solid #E8C300;
  z-index: 1000;
  position: absolute;
  top: 160px;
  left: -90px;
  /* display: block; */
}

.specialties-section .switch {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}
/* кастомные radio-buttons */
.specialties-section .switch .switch__item {
  padding: 20px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.specialties-section .switch input {
  display: block;
  position: absolute;
  top: 14px;
  left: 15px; 
  opacity: 0;
  cursor: pointer;
  transform: scale(1.5);
  z-index: 1000;
}

.specialties-section .switch input:checked ~ .checkmark {
  background-color: #fff;
}

.switch .checkmark {
  display: block;
  position: absolute;
  cursor: pointer;
  top: 15px;
  left: 15px;
  height: 12px;
  width: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
/* ---- */

/* ------------- delicious menu ---------------- */
.delicious-menu-section {
  padding: 100px 0px;
}

.delicious-menu-section__desc {
  display: block;
  max-width: 565px;
  margin: 20px auto;
  text-align: center;
  font-weight: 700;
  font-size: 1.1rem;
}

.delicious-menu-section a {
  text-decoration: none;
}

.delicious-menu-section ul {
  display: flex;
  list-style: none;
}


.delicious-menu-section .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px 1fr;
  grid-auto-flow: column;
}

#delicious-menu__nav {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 50px auto;
}

.delicious-menu__nav li {
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  height: 50px;
}

.delicious-menu__nav li:last-child {
  border-right: none;
}

.delicious-menu__nav li a {
  display: inline-block;
  width: 120px;
  height: 50px;
  line-height: 50px;
  font-size: .9rem;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
}

.delicious-menu__items {
  flex-direction: column; 
}

.delicious-menu__items li {
  height: 60px;
}

.delicious-menu__items li p {
  text-align: start;
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: -10px;
}

.delicious-menu__items li span {
  font-size: .7rem;
  color: rgba(100, 100, 100, .5)
}

/* --------------- private events --------------- */
.events-section {
  background: url("../img/events-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.events-section .container .img-wrapper:first-child::before {
  content: "";
  width: 250px;
  height: 250px;
  border-radius: 5px;
  border: 20px solid #E8C300;
  z-index: 1000;
  position: absolute;
  top: 160px;
  left: -90px;
}

.events-section .container .img-wrapper:first-child::after {
  content: "weddings";
  text-transform: uppercase;
  text-align: start;
  line-height: 40px;
  font-size: 2rem;
  letter-spacing: .3rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
  width: 436px;
  height: 40px;
  background-color: #000;
  transform: rotate(90deg);
  overflow: hidden;
  z-index: 1000;
  position: absolute;
  top: 248px;
  right: -150px;
}

.events-section .container .img-wrapper:last-child::after {
  content: "";
  width: 250px;
  height: 250px;
  border-radius: 5px;
  border: 20px solid #E8C300;
  z-index: 1000;
  position: absolute;
  top: 160px;
  right: -90px;
}

.events-section .container .img-wrapper:last-child::before {
  content: "corporate parties";
  text-transform: uppercase;
  text-align: start;
  line-height: 40px;
  font-size: 2rem;
  letter-spacing: .3rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
  width: 436px;
  height: 40px;
  background-color: #000;
  transform: rotate(-90deg);
  overflow: hidden;
  z-index: 1000;
  position: absolute;
  top: 248px;
  left: -150px;
}

.events-section p {
  font-size: .9rem;
  color: rgba(255, 255, 255, 0.5);
}

/* ----------------- photo galery ---------------- */
.photo-gallery-section .slider {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.photo-gallery-section img {
  display: block;
  transition: all .4s ease-in-out;
  /* overflow: hidden; */
}

.photo-gallery-section img:hover {
  margin: 0 18px;
  transform: scale(1.1);

}

/* ------------------------- contact ------------------------- */
.contact-section {
  padding: 100px 0;
}

.contact-section p {
  display: block;
  max-width: 565px;
  margin: 20px auto 50px;
  text-align: center;
  font-weight: 700;
  font-size: 1.1rem;
}

.contact-section form {
  margin: 0 auto;
  max-width: 1280px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 120px 60px;
}

.contact-section form textarea {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 120px;
  resize: none;
}

.contact-section .contact-form__footer {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: space-between;
} 

.contact-section .contact-form__info{
  display: flex;
  padding: 0px 16px;
  color: #999;
  font-size: .9rem;
  font-weight: 700;
  line-height: 60px;
  width: 50%;
  justify-content: space-between;
}
.contact-section .contact-form__info i {
  color: #E8C300;
}
.contact-section input[type="submit"] {
  line-height: normal;
  text-transform: uppercase;
}

.contact-form__footer input {
  width: 50%;
}

/* ------------------------- map ---------------- */
.map-section {
  padding: 0px;
  height: 475px;
}

/* ------------------------ footer ------------- */
footer {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #bbb;
}

footer span {
  line-height: 100px;
  color: #999;
}

